.wrapper-start {
    font-size: large;
    font-family: 'DotGothic16', sans-serif;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background: none;
    grid-template-columns: 9rem 1fr 9rem;
    padding: 0;
    align-content: center;
    justify-self: center;
}

.wrapper-location {
    grid-column: 2 / 4;
    align-content: center;
    text-align: center;
    justify-self: center;
    width: 20rem;
    max-width: 100%;
    max-height: 100%;
}

.wrapper-link {
    background: none;
    padding: 0;
    align-content: center;
    justify-self: center;
}

.main-link-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}