html {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 16px;
    font-weight: 300;
}

* {  
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    margin: 0 auto;
    }

body { 
    height: 100vh;
    margin: 0 auto; 
    padding: 1% 7% 1% 7%;
    background: lightblue; /* Фоновый цвет и фоновый рисунок*/
	color: black; /*Цвет текста на странице*/
	background-attachment: fixed; /* Фон страницы фиксируется */
	background-repeat: repeat; /* Изображение повторяется по горизонтали */
} 

.wrapper {
    display: grid;
    width: 100%;
    margin: 0 auto;
    background-color:white;
    /* top right bottom left */
    padding: 10px 10px 10px 10px;
    gap: 10px;
    border-radius: 5px;
}

h1 {
    line-height: 0.8;
}

.pop-up {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.audio {
    justify-self: center;
}